@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatGlow {
  0%   { transform: translate(-30%, -30%) scale(1); }
  25%  { transform: translate(-10%, -40%) scale(1.1); }
  50%  { transform: translate(20%, -20%) scale(1); }
  75%  { transform: translate(-20%, 0%) scale(1.05); }
  100% { transform: translate(-30%, -30%) scale(1); }
}

.glow-animate {
  animation: floatGlow 10s ease-in-out infinite;
}
